@*@Model List<Lab12.Models.Persona>
    @{
        ViewBag.Title = "Listar";
    }
    <div class="card">
        <div class="card-body">
            <h2>Listado de Personas</h2>

            <table class="table table-striped">
                <tr style="background-color: #A2416B; color:white;">
                    <th scope="col">PersonaID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acciones</th>
                </tr>
                @foreach (var persona in Model)
                {
                    <tr>
                        <th scope="row">@persona.PersonaID</th>
                        <td>@persona.Nombre</td>
                        <td>@persona.Apellido</td>
                        <td>@persona.FechaNac</td>
                        <td>@persona.Direccion</td>
                        <td>@persona.Email</td>
                        <td>@Html.ActionLink("Ver","Mostrar","Persona",
                        new { id = persona.PersonaID },null)</td>

                    </tr>
                }

            </table>

            @Html.ActionLink("Volver a Index", "Index", new { @class = "btn btn-secondary" })
        </div>
    </div>*@

@model List<Lab13.Models.Persona>
@{
    ViewBag.Title = "Listar";

    var grid = new WebGrid(source: Model, columnNames: new[]{
            "PersonaID", "Nombre", "Apellido", "FechaNac", "Direccion", "Email"
        });
}

<div class="card">
    <div class="card-body">
        <h2>Listado de Personas</h2>
        @grid.GetHtml(tableStyle: "table table-striped table-danger table-hover",
                columns: grid.Columns(
                    grid.Column(columnName: "PersonaID", header: "PersonaID"),
                    grid.Column(columnName: "Nombre", header: "Nombre"),
                    grid.Column(columnName: "Apellido", header: "Apellido"),
                    grid.Column(columnName: "FechaNac", header: "FechaNac"),
                    grid.Column(columnName: "Direccion", header: "Direccion"),
                    grid.Column(columnName: "Email", header: "Email"),
                    grid.Column(header: "Acciones", format: (item) =>
                                                    Html.ActionLink("Ver", "Mostrar", "Persona",
                                                    new { id = item.PersonaID }, null))

                    )
                )

    </div>
</div>