@model IEnumerable<Lab14.Products>
@{
    ViewBag.Title = "Details";
}

<nav style="background-color: #21BF73; border-radius: 20px; margin-bottom:10px;" class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder">&nbsp;&nbsp;&nbsp;Detalles de la Categoría</a>
        <form class="d-flex">
            @Html.ActionLink("Retornar al Index", "Index", null, new { @class = "btn btn-warning col-auto" })
            &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Agregar Categoria", "Create", null, new { @class = "btn btn-primary col-auto" })
        </form>
    </div>
</nav>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header fw-bolder">
                Lista de Productos
            </div>

            <div class="card-body">

                <div class="table-responsive">
                    <table id="tblLista" class="table table-bordered border-success">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(model => model.ProductID)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.ProductName)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.SupplierID)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.CategoryID)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.QuantityPerUnit)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.UnitPrice)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.UnitsInStock)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.UnitsOnOrder)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.ReorderLevel)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Discontinued)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <th>@Html.DisplayFor(modelItem => product.ProductID)</th>
                                    <td>@Html.DisplayFor(modelItem => product.ProductName)</td>
                                    <td>@Html.DisplayFor(modelItem => product.SupplierID)</td>
                                    <td>@Html.DisplayFor(modelItem => product.CategoryID)</td>
                                    <td>@Html.DisplayFor(modelItem => product.QuantityPerUnit)</td>
                                    <td>@Html.DisplayFor(modelItem => product.UnitPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => product.UnitsInStock)</td>
                                    <td>@Html.DisplayFor(modelItem => product.UnitsOnOrder)</td>
                                    <td>@Html.DisplayFor(modelItem => product.ReorderLevel)</td>
                                    <td>@Html.DisplayFor(modelItem => product.Discontinued)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>
