@Model List<Lab12.Models.Persona>
    @{
        ViewBag.Title = "Listar";
    }
    <div class="card">
        <div class="card-body">
            <h2>Listado de Personas</h2>

            <table class="table table-striped">
                <tr style="background-color: #A2416B; color:white;">
                    <th scope="col">PersonaID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Email</th>
                </tr>
                @foreach (var persona in Model)
                {
                    <tr>
                        <th scope="row">@persona.PersonaID</th>
                        <td>@persona.Nombre</td>
                        <td>@persona.Apellido</td>
                        <td>@persona.FechaNac</td>
                        <td>@persona.Direccion</td>
                        <td>@persona.Email</td>
                    </tr>
                }

            </table>

            @Html.ActionLink("Volver a Index", "Index", new { @class = "btn btn-secondary" })
        </div>
    </div>

