@*
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <script src="~/Scripts/modernizr-2.8.3.js"></script>
    </head>
    <body style="background-color: #F5C6A5;">
        <nav class="navbar fixed-top navbar-light bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">Fixed top</a>
                        </div>
                    </nav>
                    <div style="margin-bottom:20px;">
                        <div class="collapse" id="navbarToggleExternalContent">
                            <div style="background-color:#852747;" class="p-4">
                                <h5 class="text-white h4">Laboratorio 13<i style="margin-left:15px" class="fad fa-flask"></i></h5>
                                <span style="color: #ffff;">
                                    Modelo-vista-controlador es un patrón de
                                    arquitectura de software, que separa los datos y principalmente lo que es
                                    la lógica de negocio de una aplicación de su representación y el módulo encargado
                                    de gestionar los eventos y las comunicaciones.
                                </span>
                            </div>
                        </div>
                        <nav style="background-color:#852747;" class="navbar navbar-dark">
                            <div class="container-fluid">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="h1">
                                    @Html.ActionLink("DAEA - Laboratorio 13", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fs-2" })
                                </div>
                                <img src="https://d1hk311iwdrr55.cloudfront.net/d04642e2-ada5-4df0-9310-03eff09724ed/images/users-icon.png" alt="" width="40" height="40">

                            </div>
                        </nav>
                    </div>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <h5 class="text-white h4">Collapsed content</h5>
                        <span class="text-muted">Toggleable via the navbar brand.</span>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
                <div class="container">
                    @RenderBody()
                    <hr />
                    <footer style="background-color:#B0EACD;">
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>

                <script src="~/Scripts/jquery-3.4.1.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            </body>
            </html>
*@

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body style="background-color: #F3F0D7;">
    @*Navbar*@

    <nav style="background-color: #FD5E53;" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="https://th.bing.com/th/id/R.165c2b7cc8d55b1cee6312f0f8512d28?rik=F3%2b1cq%2b5Q0s9Eg&riu=http%3a%2f%2ficon-park.com%2fimagefiles%2fconfig_tool_icon2_white.png&ehk=uldQ1wqrV945HtSCKl6u86CsP4N9XG7KMENL4Ulojfs%3d&risl=&pid=ImgRaw&r=0" height="28" alt="CoolBrand">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ">
                    @Html.ActionLink("NORTHWND SUPERMARKET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand nav-item nav-link fw-bolder text-white" })
                    <a href="#" class="nav-item nav-link fw-bold text-white">Categorías</a>
                    <a href="#" class="nav-item nav-link fw-bold text-white">Producto</a>
                    
                </div>
            </div>
        </div>
    </nav>


    @*Render Body*@
    <div >
        <div style="padding-top:20px" class="container">
            <div class="card">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
            
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>
